body {
    font-family:    Roboto, sans-serif;
    font-size:      14px;
    letter-spacing: .5px;
    overflow:       hidden;
}

p {
    margin:  0;
    padding: 0;
}

h1 {
    color:          $primary;
    font-weight:    100;
    letter-spacing: 0;
    margin-top:     10px;
}

.container {
    position: relative;
}

.bottom-block {
    background-color: fade-out($primary, .91);
    padding-top:      5px;
}