body {
    font-family:    Roboto, sans-serif;
    font-size:      14px;
    letter-spacing: .5px;
    overflow:       hidden;
}

p {
    margin:  0;
    padding: 0;
}

h1 {
    color:          $primary;
    font-weight:    100;
    letter-spacing: 0;
    margin-top:     10px;
}

.container {
    position: relative;
}

.bottom-block {
    background-color: fade-out($primary, .91);
    padding-top:      5px;
}

// .navbar {
//     background-color: $primary;
//     padding:          10px;

//     .container {
//         justify-content: flex-start;
//     }

//     img {
//         height:       35px;
//         max-height:   100%;
//         max-width:    100%;
//         margin-right: 20px;
//     }

//     ul {
//         margin:     0;
//         padding:    0;
//         list-style: none;
//         display:    flex;

//         li {
//             margin:       0;
//             padding:      2px 10px;
//             margin-right: 5px;

//             a {
//                 color: white;
//             }
//         }
//     }
// }