.box {
    display:        block;
    border-radius:  50px;
    margin-right:   5px;
    color:          white;
    text-align:     center;
    font-size:      12px;
    font-weight:    300;
    letter-spacing: 3px;
    line-height:    1;
    width:          20px;
    height:         20px;
    // padding:        5px 10px;

    &__wrapper {
        padding: 10px 0;
        display: flex;
    }

    &-primary {
        background-color: $primary;
    }

    &-secondary {
        background-color: $secondary;
    }

    &-success {
        background-color: $success;
    }

    &-danger {
        background-color: $danger;
    }

    &-warning {
        background-color: $warning;
        color:            darken($warning, 25%);
    }

    &-info {
        background-color: $info;
    }
}